body {
    /* font-family: 'Kalam', cursive; */
    font-family: 'Indie Flower', cursive;
    letter-spacing: 0.1rem;
    margin: 0;
}

:root {
    --primary-color: #F4CB58;
    --secondary-color: #333333;
}

h1 {
    margin-top: 0;
    text-align: center;
    background-color: var(--primary-color);

}

.div-functional-items {
    width: 60%;
    margin: auto;
}

textarea {
    font-family: 'Kalam', cursive;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 15vh;
}

button {
    font-family: 'Kalam', cursive;
    background-color: #4E6A82;
    color: white;
    font-weight: bold;
    padding: 1rem;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 100%;
    overflow: auto;
    /* margin: 1rem; */
    /* padding: 1rem; */
}

.indicator {
    margin: 1rem 0;
}

footer {
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    width: 100%;

}

footer h2 {
    text-align: center;
}

footer ul {
    width: 60%;
    margin: auto;
}

footer ul li {
    list-style-type: none;
    text-align: center;
}